
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}


.layout {
  display: flex;
  height: 100%;
  width: 100%; 
  background: red;
}

.sidebar {
  width: 15%;

}


.main {
  // flex: 1;
  display: flex;
  flex-direction: column;
  background: #e9e7e7;
  margin-left: 15%;
  width: 85%;

}

.nav{
  width: 100%;
  height: 6%;
}

.topbar {
  width: 85%;
  margin-left: 15%;
}

.content {
  width: 100%;
  height: 95%;
  padding: 20px;
  background: #fff;
}
