.layout {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 15%;
  background: #1e3a8a;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: white;
  text-decoration: none;
  margin: 10px 0;
}

/* Main */
.main {
  flex: 1;
  width: 80%;
  display: flex;
  flex-direction: column;
}

/* Topbar */
.topbar {
  height: 60px;
  background: #2563eb;
  color: white;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* Content */
.content {
  flex: 1;
  padding: 0px;
  margin-top: 25px;
  width: 100%;
  background: #fd3e03;
  overflow-y: auto;
}
