.body {
    width: 100%;
    height: 100%;
    display: flex;
}

.info {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .info-item {
        width: 90%;
        height: 100%;
        margin-top: 10px;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    }

    .item-lable {
        width: 100%;
        height: 30px;
        background: rgb(209, 209, 209);
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    .info-item-1 {
        height: 35%;
    }

    .item-content {
        width: 100%;
        height: 100%;
        padding-top: 5px;
        background: rgb(255, 255, 255);

        .form-name,
        .form-type-customer,
        .form-product-name {
            display: flex;
            align-items: center;
            padding: 1%;

            label {
                font-size: 16px;
                font-weight: 500;
            }

            input,
            select {
                margin-left: 10px;
                padding: 6px;
                width: 60%;
                border-radius: 6px;
                border: 1px solid #ccc;

                &:focus {
                    border-color: #3b82f6;
                }
            }
        }
    }

    .form-product-size {
        display: flex;
        align-items: center;
        padding: 1%;

        label {
            font-size: 16px;
            font-weight: 500;
        }

        input,
        select {
            margin-left: 10px;
            padding: 6px;
            width: 10%;
            border-radius: 6px;
            border: 1px solid #ccc;

            &:focus {
                border-color: #3b82f6;
            }
        }
    }

    .info-product {
        background: green;
    }
    .info-quantity {
        background: blue;
    }
}
.quotation {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;

    .info-item {
        width: 90%;
        height: 50%;
        margin-top: 10px;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    }
    .item-lable {
        width: 100%;
        height: 30px;
        background: rgb(209, 209, 209);
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    .item-content {
        width: 100%;
        height: 100%;
        padding-top: 5px;
        background: rgb(255, 255, 255);

        .form-name,
        .form-type-customer,
        .form-product-name {
            display: flex;
            align-items: center;
            padding: 1%;

            label {
                font-size: 16px;
                font-weight: 500;
            }

            input,
            select {
                margin-left: 10px;
                padding: 6px;
                width: 60%;
                border-radius: 6px;
                border: 1px solid #ccc;

                &:focus {
                    border-color: #3b82f6;
                }
            }
        }
    }
}
