.body{
    width: 100%;
    height: 100%;
    display: flex;

 

}  
.info{
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        .info-item{
            width: 90%;
            height: 100%;
            margin-top: 10px;
            border-radius: 20px;
            overflow: hidden;
        
            }

        .info-item-1{
            background: red;
        
        }
        .info-product{
            background: green;
        }
        .info-quantity{
            background: blue;
        }
    }
.quotation{
        width: 40%;
        height: 100%;
        background:yellow;

    }

