.body{
    width: 100%;
    height: 100%;
    display: flex;

 

}  
.info{
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        .info-item{
            width: 90%;
            height: 100%;
            margin-top: 10px;
            border-radius: 5px;
            overflow: hidden;
        
            }

        .info-item-1{
            background: red;
        
        }
        .info-product{
            background: green;
        }
        .info-quantity{
            background: blue;
        }
    }
.quotation{
        width: 40%;
        height: 100%;
        background:yellow;
        display: flex;
        justify-content: center;

    }

.price-return{
    width: 90%;
    height: 50%;
    margin-top: 10px;
    border-radius: 5px;
    background: cyan;
    display: flex;
    flex-direction: column;
    // align-items: center;

    h3{
        text-align: left;
        margin: 1%;
    }
}